{% block body %}
    <section class="typeOfRecipeByUser">
        {% for recette in recettes %}
            <div class="recipe">
                <div style="background:url({{ asset('/uploads/' ~ recette.image ) }}) center / cover no-repeat;" class="recipeImg">

                </div>
                <div class="recipeInfos">
                    <p>{{ recette.name }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">{{ knp_pagination_render(recettes) }}</div>

    <style>
        .pagination{
            display: flex;
            margin-bottom: 15px;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .pagination span{
            padding: 0px 2px;
            font-family: 'Red Hat Text', sans-serif;
            font-size: 17px;
        }

        .recipeInfos{
            width: 100%;
            height: 25%;
            background: white;
            border-radius: 10px;
        }

        .recipeInfos p{
            font-size: 18px;
            font-family: 'Red Hat Text', sans-serif;
            font-weight:bolder;
            padding: 12px;
            color: black;
        }

        .recipe{
            width: 414px;
            height: 400px;
            background: white;
            margin-bottom: 50px;
            border: 1px solid #dfdfdf;
            border-radius: 10px;
        }
        .recipeImg{
            width: 100%;
            height: 75%;
            border-bottom: 1px solid #dfdfdf;
        }

        .typeOfRecipeByUser{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
            width: 80%;
            max-width: 1400px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}